
    <div class="card" style="width: 38rem;">
        <img src="{{image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{filmDetail.title}}</h5>
            <p class="card-text">Director: {{filmDetail.director}}</p>
            <p class="card-text">Productor: {{filmDetail.producer}}</p>
            <p class="card-text">History: </p> 
            <p class="card-text">{{filmDetail.opening_crawl}}</p> 
            <a class="btn btn-primary" routerLink="/filmslist">Volver a Films</a>
        </div>
    </div>
