

<div *ngIf="filmDetail; else emptyId">
  <h2>Detalle del Film " {{filmDetail.title}} "</h2>
  <img src="{{image}}">
    <ul>
        <li>Name: {{ filmDetail.title | uppercase }}</li>
        <li>Director: {{filmDetail.director}}</li>
        <li>Productor: {{filmDetail.producer}}</li>
        <li>Specie: {{filmDetail.created}}</li>
    </ul>
    <button routerLink="/filmslist">Volver a Films</button>
</div>

<ng-template #emptyId>
    <p>La Pelicula NO existe.</p>
    <button routerLink="/filmslist">Volver a Films</button>
</ng-template>