<div class="card" style="width: 38rem;">
    <img src="{{image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{speciesDetail.name | uppercase}}</h5>
        <p class="card-text">Classification: {{speciesDetail.classification | uppercase}}</p>
        <p class="card-text">Language: {{speciesDetail.language | uppercase}}</p> 
        <p class="card-text">Skin Colors: {{speciesDetail.skin_colors | uppercase}}</p>
        <p class="card-text">Designation: {{speciesDetail.designation | uppercase}}</p> 
        <a class="btn btn-primary" routerLink="/specieslist">Volver a Species</a>
    </div>
</div>
