<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2 rounded-circle" src="/assets/img/user.png" alt="" width="30" height="30">
            <small class="d-block mb-3 text-muted">&copy; 2020 - Juan Pablo Muñoz</small>
        </div>
        <div class="col-6 col-md">
            <h5>Redes Sociales</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" target="_blank" href="#">Red 1</a></li>
                <li><a class="text-muted" target="_blank" href="#">Red 2</a></li>
                <li><a class="text-muted" target="_blank" href="#">Red 3</a></li>
                <li><a class="text-muted" target="_blank" href="#">Red 4</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Grupos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" target="_blank" href="#">Grupo 1</a></li>
                <li><a class="text-muted" target="_blank" href="#">Grupo 1</a></li>
            </ul>
        </div>
    </div>
</footer>