<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2 rounded-circle" src="/assets/img/user.png" alt="" width="30" height="30">
            <small class="d-block mb-3 text-muted">&copy; 2020 - jpmunozv</small>
        </div>
        <div class="col-6 col-md">
            <h5>Redes Sociales</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" target="_blank" href="https://www.linkedin.com/in/jpmunozv/">Linkedin</a></li>
                <li><a class="text-muted" target="_blank" href="https://twitter.com/juanpa_mv">Twitter</a></li>
                <li><a class="text-muted" target="_blank" href="https://github.com/jpmunozv">Github</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contacto</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" target="_blank">juan.munoz@avattar.com</a></li>
                <li><a class="text-muted" target="_blank">jpmunozv@outlook.com</a></li>
                <li><a class="text-muted" target="_blank">+569 96964710</a></li>
            </ul>
        </div>
    </div>
</footer>