<div class="card" style="width: 38rem;">
    <img src="{{image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{peopleDetail.name | uppercase}}</h5>
        <p class="card-text">Name: {{ peopleDetail.name | uppercase }}</p>
        <p class="card-text">Gender: {{peopleDetail.gender | uppercase }}</p>
        <p class="card-text">Hair Color: {{peopleDetail.hair_color | uppercase}}</p> 
        <p class="card-text">Eye Color: {{peopleDetail.eye_color | uppercase}}</p>
        <p class="card-text">Skin Color: {{peopleDetail.skin_color | uppercase}}</p> 
        <a class="btn btn-primary" routerLink="/peoplelist">Volver a People</a>
    </div>
</div>