<div *ngIf="planetDetail; else emptyId">
    <h2>Detalle del Planeta " {{planetDetail.name | uppercase}} "</h2>
    <img class="big" src="{{image}}">
      <ul>
          <li>Nombre: {{ planetDetail.name | uppercase }}</li>
          <li>Tipo de Terreno: {{planetDetail.terrain | uppercase }}</li>
          <li>Clima: {{planetDetail.climate | uppercase}}</li>
          <li>Rotación: {{planetDetail.rotation_period}} hours</li>
          <li>Orbitación: {{planetDetail.orbital_period}} days</li> 
          <li>Diametro: {{planetDetail.diameter}} KMS</li>
      </ul>
      <button routerLink="/planetslist">Volver a Planets</button>
  </div>
  
  <ng-template #emptyId>
      <p>El Planeta NO existe</p>
      <button routerLink="/planetslist">Volver a Planets</button>
  </ng-template>
