
<div class="card" style="width: 38rem;">
    <img src="{{image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ planetDetail.name | uppercase }}</h5>
        <p class="card-text">Terrain: {{planetDetail.terrain | uppercase }}</p>
        <p class="card-text">Climate: {{planetDetail.climate | uppercase}}</p>
        <p class="card-text">Rotation: {{planetDetail.rotation_period}} hours</p> 
        <p class="card-text">Orbital Period: {{planetDetail.orbital_period}} days</p> 
        <p class="card-text">Diameter: {{planetDetail.diameter}} KMS</p>
        <a class="btn btn-primary" routerLink="/planetslist">Volver a Planets</a>
    </div>
</div>