 <div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <h1>Ingreso</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="pass" placeholder="pass">
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>
            <div>
                <a [routerLink]="['/register']" class="link">Ir a registrarse</a>
            </div>

        </form>
        
    </div>

</div>  





