$color-black: #000000;
$color-white: #FFFFFF;
$color-illustration-sky: #DEEDF2;
$color-illustration-mediumsky: #CEDEE7;
$color-grey-1: #6F7779;
$color-red: #EC0000;
$color-illustration-boston: #CC0000;
$color-illustration-ruby: #990000;
$color-illustration-grey-red: #D30000;
$color-illustration-ruby: #823645;
$color-illustration-ruby: #420716;
$color-secondary-private-turquoise: #1BB3BC;
$color-secondary-private-blue: #3366FF;
$color-secondary-private-purple: #9E3667;
$color-secondary-private-graphite: #6F7779;
// Secondary colours
$color-secondary-yellow: #FFCC33;
$color-secondary-limegreen: #63BA68;
$color-secondary-turquoise: #1BB3BC;
$color-secondary-blue: #3366FF;
$color-secondary-purple: #9E3667;
$color-secondary-grey: #444444;
$color-secondary-mediumgrey: #767676;
$color-secondary-lihtgrey: #CCCCCC;
$color-secondary-accessiblesky: #257FA4;
$color-secondary-darkyellow: #946F00;
$color-secondary-green: #008437;
$color-secondary-darkturquoise: #137E84;
$color-secondary-darkblue: #0032E6;
$color-secondary-darkpurple: #9E3667;
$color-secondary-accesiblessky: #257FA4;
$color-secondary-bg: #F5F9FB;
$color-functional-neutral30: #C7C7C7;
// Social color
$color-dropbox: #0061FF;
$color-facebook: #3B5998;
$color-googleplus: #D34836;
$color-instagram: #C7C7C7;
$color-linkedin: #0077B5;
$color-skype: #00AFF0;
$color-spotify: #1ED760;
$color-twitter: #00B6F1;